body{
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    margin: 0px;
}

.container{
    display:flex;
    border: 3px solid #333;
    background-color: #dfdfdf;
    justify-content: space-around;  
    flex-wrap: wrap;
    row-gap: 100px;
}

.titlescore-container{
    display: flex;
    border: 3px solid #333;
    background-color: #dfdfdf;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 52px;
}

.title-card{
    font-size: 50px;
    font-weight: bold;
}

#scoreboard{
    font-size: 30px;
}

#round-log{
    display: flex;
    border: 3px solid #333;
    background-color: #dfdfdf;
    flex-wrap: wrap;
    justify-content: center;
    white-space: pre;
    gap: 24px;
    font-size: 22px;
    width: 100%;
    max-height: 200px;
    overflow-x: auto;
    margin-right: 100px;
}

.choices{
    display: flex;
    border: 3px solid #333;
    background-color: #dfdfdf;
    width: 100%;
    justify-content:space-evenly;
    font-size: 40px;
    margin-top: 100px;
}

.select-buttons{
    display: flex;
    gap: 52px;
    list-style: none;
}

.select-buttons button{
    text-align: center;
    width: 15em;
    height: 5em;
    padding: 8px;
}