.container{
    display:flex;
    justify-content: space-around;  
    flex-wrap: wrap;
    row-gap: 100px;
}

.titlescore-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 52px;
}

.title-card{
    font-size: 50px;
    font-weight: bold;
}

#scoreboard{
    font-size: 30px;
}

.choices{
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    font-size: 40px;
    margin-top: 100px;
}

.select-buttons{
    display: flex;
    margin-top: 150px;
    gap: 52px;
    list-style: none;
}

.select-buttons button{
    text-align: center;
    width: 15em;
    height: 5em;
    padding: 8px;
}